

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">

              <h2 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h2>
              <div class="subheading mb-5">{{ .Site.Params.address }} ·
                <a href="mailto:{{ .Site.Params.email }}">{{  .Site.Params.email }}</a>
              </div>

            </div>

            {{ if .Site.Params.showQr }}
              {{ partial "contact-qr" . }}
            {{ end }}
        </div>
              <h5 class="resume-date"> I have always been intrigued by the story hidden behind numbers and data. After graduation from the Indian Institute of Technology, I worked as an analyst for Aspect Ratio, Merck's centre for Analytics. In the role, I handled business strategy development for one of the biggest players in global pharmaceutical industry, Merck. This experience made me aware of the enormous financial impact of data driven analytics, and sparked an interest to master my skills in the field.

              <br><br>

              I am currently pursuing my Masters of Science in Business Analytics at McCombs Business School, UT Austin. The diverse course structure, along with focus on hands-on projects with global firms has exposed me to the immense opportunities that lie within data analytics.

              <br><br>

              In my personal time, I like exploring new places and reading. Feel free to connect on any of the platforms linked below.
              <br><br>
             
              </h5>
        <div>
          {{ .Content }}
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="{{ if .icon}}{{ .icon }}{{ else }}fab fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
