
<h3 class="mb-3"><a href="{{ .Params.link }}">{{ .Params.displaytitle }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content " style="width:250px;!important;">
    {{with  .Params.image }}
      <img src="{{ . }}" style="max-height:180px;max-width:180px;padding-left:15px;padding-bottom:15px;padding-right:15px"/>
    {{ end }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{ .Params.link }}">Read more..</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
